.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 22px;
}

.footer__hashtag-visitsedona {
  margin: 0;
  padding: 0;
  text-align: center;
  .font-header(21px);
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__about-developer {
  display: flex;
  align-items: center;
}

.footer__developed-by {
  margin: 0;
  padding: 0;
  .font-content(26px);
}

.footer__about-developer img {
  margin-left: 12px;
}

//версия для планшета
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin: 0 auto 34px;
  }

  .footer__hashtag-visitsedona {
    padding-left: 60px;
  }

  .footer__about-developer {
    padding-right: 60px;
  }

  .footer__developer-link img {
    max-width: 27px;
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .footer {
    margin: 0 auto;
    padding-bottom: 38px;
  }

  .footer__hashtag-visitsedona {
    padding-left: 120px;
  }

  .footer__about-developer {
    padding-right: 120px;

    & img {
      width: 27px;
      height: 34px;
    }
  }
}
