.footer {
  width: @width-mobile;
  outline: 1px solid blue;
}

.footer__hashtag-visitsedona {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.footer__social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__developed-by {
  margin: 0;
  padding: 0;
  .font-content(26px);
}
