.get-feedback {
  width: @width-mobile;
  margin: 40px auto 76px;
}

.get-feedback__title {
  margin: 0 auto 27px;
  padding: 0;
  text-align: center;
  .font-header(18px);
}

.get-feedback__text {
  width: 280px;
  margin: 0 auto 16px;
  padding: 0;
  text-align: center;
  .font-content(24px);
}

//вресия для планшета
@media (min-width: 768px) {
  .get-feedback {
    width: @width-tablet;
    margin: 64px auto 96px;
  }

  .get-feedback__title {
    margin: 0 auto 30px;
    .font-header(30px);
  }

  .get-feedback__text {
    width: 450px;
    margin: 0 auto 76px;
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .get-feedback {
    width: @width-desktop;
    margin: 102px auto 98px;
    padding: 0 40px;
  }

  .get-feedback__text {
    width: 450px;
    margin: 0 auto 60px;
  }
}
