.header {
  position: relative;
}

.header__wrapper {
  display: block;
  padding: 38px 20px 16px 277px;
  // padding: 16px 20px 16px 277px;
}

.header__logo {
  position: absolute;
  top: 224px;
  left: 109px;
  z-index: 1;
}

// .header__menu-toggle {
//   display: block;
//   width: 23px;
//   height: 22px;
//   margin: 0;
//   padding: 0;
//   border: 0;
//   outline: none;
//   background: url("../img/icon-menu.svg") no-repeat;
// }

//версия для планшета
@media (min-width: 768px) {
  .header {
    display: flex;
  }

  .header__logo {
    top: 0;
    left: 333px;
  }

  .header__wrapper,
  .header__menu-toggle {
    display: none;
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .header__logo {
    left: 506px;

    & img {
      width: 188px;
      height: 96px;
    }
  }
}
