//мобильная версия
@media (min-width: 320px) {
  .header {
    width: @width-mobile;
    margin: 0 auto;
  }
}

//вресия для планшета
@media (min-width: 768px) {
  .header {
    position: relative;
    display: flex;
    width: @width-tablet;
  }
  .header__logo {
    position: absolute;
    left: 333px;
  }
}

//версия декстоп
@media (min-width: 1200px) {
  .header {
    width: @width-desktop;
    padding: 0 40px;
  }
  .header__logo {
    left: 593px;
  }
}

.header__logo img {
  display: block;
}
