.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

@media (min-width: 320px) {
  .main-nav__toggle {
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .main-nav__toggle {
    display: none;
  }
}
