.menu {
  width: @width-mobile;
  margin: 0 auto;
}

.menu__link,
.menu__active-page {
  display: block;
  padding: 8px 0;
  text-align: center;
  .font-nav-mobile();
  .blue-theme;
}

//вресия для планшета
@media (min-width: 768px) {
  .menu {
    display: flex;
    width: @width-tablet;
    margin: 0 auto;
    padding: 0;
  }

  .menu__link,
  .menu__active-page {
    width: 153px;
    padding: 15px 0;
    .font-header(14px);
    .white-theme;
  }

  .menu__item:nth-child(2) {
    margin-right: 156px;
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .menu {
    width: @width-desktop;
  }

  .menu__link,
  .menu__active-page {
    width: 239px;
  }

  .menu__item:nth-child(2) {
    margin-right: 244px;
  }
}
