.photostream {
  width: @width-mobile;
  margin: 0 auto;
}

.photostream__item {
  margin: 0 20px;
}

.photostream__title {
  margin: 32px 0 30px;
  padding: 0;
  text-align: center;
  .font-header(18px);
}

.photostream__text {
  width: 280px;
  margin: 0 auto 50px;
  padding: 0;
  text-align: center;
  .font-content(24px);
}

.photostream__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

//вресия для планшета
@media (min-width: 768px) {
  .photostream {
    width: @width-tablet;
    margin: 0 auto;
  }

  .photostream__title {
    margin: 72px 0 36px;
    .font-header(30px);
  }

  .photostream__text {
    width: 450px;
    margin: 0 auto 64px;
  }

  .photostream__list {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
  }

  .photostream__item {
    width: 324px;
    margin: 0;
  }

  .photostream__item:first-child {
    width: 648px;
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .photostream {
    width: @width-desktop;
    margin: 0 auto;
    padding: 0 40px;
  }

  .photostream__title {
    margin: 102px 0 36px;
    .font-header(30px);
  }

  .photostream__text {
    width: 450px;
    margin: 0 auto 72px;
  }

  .photostream__list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }

  .photostream__item {
    width: 400px;
  }

  .photostream__item:first-child {
    width: 1200px;
  }
}
