.photostream__item {
  padding: 20px 20px 0;
  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

.photostream__title {
  margin: 38px 0 28px;
  padding: 0;
  text-align: center;
  .font-header(18px);
}

.photostream__text {
  width: 280px;
  margin: 0 auto 26px;
  padding: 0;
  text-align: center;
  .font-content(24px);
}

.photostream__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

//версия для планшета
@media (min-width: 768px) {
  .photostream__title {
    margin: 72px 0 36px;
    .font-header(30px);
  }

  .photostream__text {
    width: 450px;
    margin: 0 auto 64px;
  }

  .photostream__list {
    display: flex;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .photostream__item {
    width: 324px;
    padding: 0;
    border: 0;

    &:first-child {
      width: 648px;
    }
  }
}

//версия десктоп
@media (min-width: 1200px) {
  .photostream__title {
    margin: 112px 0 32px;
    .font-header(30px);
  }

  .photostream__text {
    width: 450px;
    margin: 0 auto 72px;
  }

  .photostream__list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }

  .photostream__item {
    width: 400px;

    &:first-child {
      width: 1200px;
    }
  }
}
