.trip-advices {
  width: @width-mobile;
  margin: 0 0 34px;
}

.trip-advices__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.trip-advices__content {
  width: 250px;
  margin: 30px 0 0;
}

.trip-advices__icon img {
  // position: absolute;
  display: block;
  margin: 22px 14px;
}

.trip-advices__title {
  margin: 0 0 14px;
  padding: 0;
  .font-header(18px);
}

.trip-advices__text {
  width: 214px;
  margin: 0;// 0 24px;
  padding: 0;
  .font-content(21px);
}

//вресия для планшета
@media (min-width: 768px) {
  .trip-advices {
    display: flex;
    width: @width-tablet;
    margin: 64px auto;
  }

  .trip-advices__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .trip-advices__wrapper_order {
    order: 1;
  }

  .trip-advices__content {
    width: 256px;
    margin: 0;
  }

  .trip-advices__icon img {
    margin: 0 0 26px;
  }

  .trip-advices__title {
    margin: 0 0 22px;
    text-align: center;
    .font-header(21px);
  }

  .trip-advices__text {
    width: 170px;
    margin: 0 auto;
    text-align: center;
  }
}

//вресия декстоп
@media (min-width: 1200px) {
  .trip-advices {
    width: @width-desktop;
    // margin: 58px auto 80px;
  }

  .trip-advices__wrapper {
    width: 400px;
  }

  .trip-advices__content {
    width: 400px;
  }

  .trip-advices__text {
    width: 284px;
    margin: 0 auto;
  }
}
