.trip-advices {
  width: @width-mobile;
  outline: 1px solid green;
}

.trip-advices__name,
.choice-reasons__text {
  margin: 0;
  padding: 0;
}

.trip-advices__name {
  .font-header;
}

.trip-advices__text {
  margin: 0;
  padding: 0;
  .font-content(21px);
}
