.trip-advices {
  display: flex;
  flex-direction: column;
  margin: 32px 0 34px 0;
}

.trip-advices__content {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 70px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:nth-child(2) {
    margin-bottom: 28px;
  }
}

.trip-advices__title {
  position: relative;
  margin: 0 0 14px;
  .font-header(18px);

  &_house::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -49px;
    width: 39px;
    height: 37px;
    background: url("../img/icon-house.svg") no-repeat;
    background-size: 39px 37px;
  }

  &_gift::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -45px;
    width: 32px;
    height: 38px;
    background: url("../img/icon-gift.svg") no-repeat;
    background-size: 32px 38px;
  }

  &_burger::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -51px;
    width: 40px;
    height: 35px;
    background: url("../img/icon-burger.svg") no-repeat;
    background-size: 40px 35px;
  }
}

.trip-advices__text {
  width: 214px;
  margin: 0;
  padding: 0;
  .font-content(21px);
  color: #333333;
}

//версия для планшета
@media (min-width: 768px) {
  .trip-advices {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 60px;
    padding-top: 160px;
  }

  .trip-advices__content {
    width: 256px;
    margin: 0;

    &_order {
      order: 1;
    }

    &:not(:last-child) {
      margin: 0;
    }

    &:nth-child(2) {
      margin: 0;
    }
  }

  .trip-advices__title {
    margin: 0 0 22px;
    text-align: center;
    .font-header(21px);

    &_house::before {
      top: -98px;
      left: 90px;
      width: 75px;
      height: 72px;
      background-size: 75px 72px;
    }

    &_gift::before {
      top: -102px;
      left: 96px;
      width: 64px;
      height: 75px;
      background-size: 64px 75px;
    }

    &_burger::before {
      top: -96px;
      left: 90px;
      width: 77px;
      height: 68px;
      background-size: 77px 68px;
    }
  }

  .trip-advices__text {
    width: 164px;
    margin: 0 auto;
    text-align: center;
  }
}

//версия декстоп
@media (min-width: 1200px) {
  .trip-advices {
    margin-bottom: 80px;
  }

  .trip-advices__title {
    &_house::before {
      left: 160px;
    }

    &_gift::before {
      left: 166px;
    }

    &_burger::before {
      left: 160px;
    }
  }

  .trip-advices__content {
    width: 400px;
  }

  .trip-advices__text {
    width: 284px;
    margin: 0 auto;

    &_width {
      width: 220px;
    }
  }
}
