.videostream__title {
  margin: 32px 0 30px;
  padding: 0;
  text-align: center;
  .font-header(18px);
}

.videostream__text {
  width: 270px;
  margin: 0 auto 50px;
  padding: 0;
  text-align: center;
  .font-content(24px);
}

//версия для планшета
@media (min-width: 768px) {
  .videostream {
    width: @width-tablet;
    margin: 0 auto;
  }

  .videostream__title {
    margin: 70px 0 30px;
    .font-header(30px);
  }

  .videostream__text {
    width: 450px;
    margin: 0 auto 64px;
  }
}

//версия декстоп
@media (min-width: 1200px) {
  .videostream__title {
    .font-header(30px);
  }

  .videostream__text {
    width: 450px;
    margin: 0 auto 72px;
  }
}
