.welcome {
  margin: 0;
  padding: 0;
  width: @width-mobile;
  outline: 1px solid black;
}

.welcome__title {
  margin: 0;
  padding: 0;
  .font-header;
}

.welcome__intro {
  margin: 0;
  padding: 0;
  .font-content(26px);
}

.welcome__head {
  margin: 0;
  padding: 0;
}
