.font-header() {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.font-content(@line-height) {
  font-size: 14px;
  font-weight: 400;
  line-height: @line-height;
}

.blue-theme-default() {
  color: #ffffff;
  background: #81b3d2;
}
