.header {
  outline: 2px solid red;
}

.main-nav {
  outline: 2px solid yellow;
}

.menu__item {
  outline: 1px dashed red;
}

.welcome {
  outline: 1px solid red;
}

.welcome__title,
.welcome__intro {
  outline: 1px dashed red;
}

.choice-reasons {
  outline: 2px solid red;
}

.choice-reasons__content,
.choice-reasons__wrapper {
  outline: 1px dashed green;
}

.trip-advices,
.photostream__item {
  outline: 1px dashed green;
}

.photostream {
  outline: 1px solid red;
}

.photostream__head,
.photostream__text {
  outline: 1px dashed red;
}

.photostream__item {
  outline: 2px dashed yellow;
}

.footer {
  outline: 1px solid red;
}

.footer__hashtag-visitsedona,
.footer__social,
.footer__about-developer {
  outline: 1px dashed red;
}
